[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pydot = "*"
pylint = "*"

[packages]
tf-nightly = "*"
numpy = "*"
tensorflow_datasets = "*"
matplotlib = "*"
pylint = "*"

[requires]
python_version = "3.7"
