[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pydot = "*"
pylint = "*"
Pillow = "*"

[packages]
tf-nightly = "2.3.0.dev20200613"
numpy = "*"
matplotlib = "*"
pylint = "*"
tensorflow-datasets = "*"

[requires]
python_version = "3.7"
