tensorflow==2.3.0
tensorflow-datasets @ git+https://github.com/swghosh/tensorflow-datasets.git@master
tfa-nightly==0.11.0.dev20200728165002
matplotlib
keras-telegram-bot @ git+https://github.com/swghosh/keras-telegram-bot.git
